@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte01:'Sriracha','cursive';
    --fonte02:'Passion One', sans-serif;
    --fonte03:Verdana, sans-serif
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    max-height: 35vw;
}
header > h1 {
    font-family: var(--fonte02);
    text-align: center;
    font-size: 10vw;
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
}
header  p{
    color: white;
    text-align: center;
    font-family: var(--fonte03);
    padding-top: 5px;
    padding-bottom: 40px;
}
header  a, footer  a {
    color: white;
   text-decoration: none;
   font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
.fundo01{
    height: 65vw;
    width: 100vw;
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.fundo01  p{
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.355);
    color: white;
}
.fundo02 {
    height: 65vw;
    width: 100vw;
    background-color: black;
    background-image: url(imagens/background002.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;}

.fundo02 p{
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.467);
    color: white;
}
.texto{
    position: absolute;
    top: 7%;
}
.texto p{
    padding-bottom: 30px;
}
section{
    background-color: white;
}
section p{
    font-family: var(--fonte01);
    font-size: 3.7vw;
    max-width: 50vw;
    max-height: 50vw;
    padding: 10px 40px 50px 30px;
    white-space: pre-line;
    background-color: white;
    color: black;
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: var(--fonte03);
}


